In [12]:
import pandas as pd

diabetes = pd.read_csv("dhananjaya.csv")

In [13]:
diabetes.head()

        date  before_breakfast  after_breakfast
0  2/10/2020               135              146
1  2/11/2020               154              194
2  2/12/2020                99              136
3  2/18/2020               107              155
4  2/19/2020               118              182

In [15]:
diabetes.describe()

       before_breakfast  after_breakfast
count         22.000000        22.000000
mean         156.863636       212.090909
std           53.340144       103.839578
min           99.000000       114.000000
25%          126.000000       147.500000
50%          132.000000       173.000000
75%          185.750000       220.000000
max          319.000000       465.000000

In [17]:
diabetes.shape

(22, 3)